<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <! [endif]-->
  <% if (htmlWebpackPlugin.options.APP_ENV === 'hybrid') {%>
    <meta http-equiv="Content-Security-Policy" content="default-src https://codepush.azurewebsites.net * data: gap: ws: https://ssl.gstatic.com 'unsafe-eval'; style-src * 'unsafe-inline'; media-src *;" />
    <script type="text/javascript" src='cordova.js'></script>
    <style>
      html, body {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        margin: 0;
        padding: 0;        
      }
    </style>
  <% } %>
</head>
<body>
  <div id='root'></div>
</body>
</html>